@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "DMSans";
  src: url("../../public/fonts/DM_Sans/DMSans-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Poppins";
  src: url("../../public/fonts/Poppins/Poppins-SemiBold.ttf");
  font-weight: 600;
}
* {
  font-family: "DMSans";
  font-weight: 400;
}
body {
  background-color: #000000;
  color: #ffffff;
  font-family: "DMSans";
  font-weight: 400;
}
h1,
h2,
h3,
h4 {
  font-family: "Poppins";

  font-weight: 600;
}
.home {
  background-color: #000000;
  color: #ffffff;
  /* height: 100vh;
  height: 500px;
  outline: 1px solid red; */
  /* height: 80px; */
  margin: 0 auto;
  margin-top: 2px;
  width: 100%;

  /* background-color: blue; */
}
.image-container .wrap {
  width: 95%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.image-container .wrap {
  width: 95%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  /* height: 500px; */
}

.image-container .wrap .card article {
  /* border: 1px solid yellow; */
  /* display: block; */
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
}

.image-container .wrap .card article div {
  width: 80%;
  margin: 0 auto;
  font-size: 14px;
  /* margin-bottom: 8vh; */
  height: 170px;
}

.image-container .overlay {
  background-color: rgba(0, 0, 0, 0.7);
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
}

.image-container .wrap .card article div h3 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 0.8rem;
}

.image-container img {
  height: 100%;
  width: 200px;
}

.heading .wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 87%;
  margin: 0 auto;
  padding: 20px 0;
}

.card {
  transition: all ease-in-out 600ms;
  transition-delay: 100ms;
  height: 90vh;
  position: relative;
  overflow: hidden !important;
  overflow: hidden;
  width: 25%;
  top: 0;
  border: 2px solid #000000;
}

.card img {
  /* border: 1px solid #000000; */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

@keyframes loadText {
  0% {
    visibility: hidden;
  }
  70% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}

.card .textWrap {
  visibility: hidden;
  z-index: 4;
}
.card .overlay {
  transition: all ease-in-out 600ms;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0.6993391106442577) 50%
  );
}

.active .overlay {
  background-color: rgba(0, 0, 0, 0.3);
  background: rgb(2, 0, 36);
  background: linear-gradient(
    0deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(255, 255, 255, 0) 50%
  );

  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
}

.active .textWrap {
  animation: loadText;
  animation-duration: 600ms;
  animation-delay: 200ms;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}

@media (max-width: 670px) {
  .image-container .wrap {
    flex-direction: column;
  }
  .card {
    width: 100%;
  }
}
